In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [2]:
df_train = pd.read_csv('E:/Data Science/Data Sets/NLP with Disaster Tweets/train.csv')
df_test = pd.read_csv('E:/Data Science/Data Sets/NLP with Disaster Tweets/test.csv')

In [3]:
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [5]:
df_train = df_train.drop(['id','keyword','location'],axis=1)
df_test = df_test.drop(['id','keyword','location'],axis=1)

# Performing Text Data Analysis:

### Importing Libraries:

In [6]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import WordNetLemmatizer
import re

In [7]:
lemma = WordNetLemmatizer()
stop_words = stopwords.words('english')

### Creating a function to clear the text:

In [8]:
def text_prep(x):
    corp = str(x).lower()
    corp = re.sub('[^a-zA-Z]+',' ', corp).strip()
    corp = corp.split()
    words = [t for t in corp if t not in stop_words]
    lemmatize = [lemma.lemmatize(w) for w in words]
    lemmatize = ' '.join(lemmatize)
    return lemmatize

In [9]:
preprocess_tag = [text_prep(i) for i in df_train['text']]
df_train["preprocess_txt"] = preprocess_tag

In [10]:
df_train.head()

,text,target,preprocess_txt
0,Our Deeds are the Reason of this #earthquake M...,1,deed reason earthquake may allah forgive u
1,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada
2,All residents asked to 'shelter in place' are ...,1,resident asked shelter place notified officer ...
3,"13,000 people receive #wildfires evacuation or...",1,people receive wildfire evacuation order calif...
4,Just got sent this photo from Ruby #Alaska as ...,1,got sent photo ruby alaska smoke wildfire pour...

## Implement TF-IDF:

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
countvector = TfidfVectorizer()

## Splitting the dataset:

In [13]:
x = countvector.fit_transform(df_train['preprocess_txt']).toarray()
y = df_train['target']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

## Training The Model:

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
# implement RandomForest Classifier
randomclassifier = RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', n_estimators=200)

## Predict for the Test Dataset:

In [18]:
predictions = randomclassifier.predict(x_test)

## Import library to check accuracy

In [19]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [20]:
matrix=confusion_matrix(y_test,predictions)
print(matrix)
score=accuracy_score(y_test,predictions)
print(score)
report=classification_report(y_test,predictions)
print(report)

[[799  75]
 [265 384]]
0.7767564018384767
              precision    recall  f1-score   support

           0       0.75      0.91      0.82       874
           1       0.84      0.59      0.69       649

    accuracy                           0.78      1523
   macro avg       0.79      0.75      0.76      1523
weighted avg       0.79      0.78      0.77      1523